:root {
  --primary-bg: #040303;
}

body {
  background-color: var(--primary-bg);
}

.primary-btn {
  height: 60px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
  justify-content: center;
  gap: 9px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to right, #5a0dff, #ff29b8, #ff581c);
  box-shadow: 5px 2px 10px 0px #2d174633 inset;
  box-shadow: -5px -3px 8px 0px #47170b33 inset;
}

.icon-btn {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #e2e2e2;
}
